<app-stage-layout [gridVisible]="true">
  <app-stage-lobby *ngIf="stage.state === gameState.Lobby" body [buzzerUrl]="buzzerUrl" [hostUrl]="hostUrl"></app-stage-lobby>
  <app-quiz-container *ngIf="stage.state === gameState.Select" body [questionRows]="stage.questionRows"></app-quiz-container>
  <app-question-detail *ngIf="stage.state === gameState.Buzzer || stage.state === gameState.Answer" body [question]="stage.activeQuestion.question"></app-question-detail>
  <app-stage-gameover *ngIf="stage.state === gameState.GameOver" body></app-stage-gameover>
  <app-player-overview footer [players]="stage.players" [activePlayer]="stage.activePlayer" ></app-player-overview>
</app-stage-layout>

