* {
  box-sizing: border-box;
}

html, body, #root, .app {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

.text-xxs {
  font-size: .5rem;
}

.h-20p {
  height: 20%;
}

.h-30p {
  height: 30%;
}

.h-35p {
  height: 35%;
}

.max-h-xs {
  height: 10rem;
}

.pb-full {
  padding-bottom: 100%;
}

$color-player-inactive: #8A8A8A;
$color-player1: #E59726;
$color-player2: #006B60;
$color-player3: #9A2511;
$color-player4: #0065BD;
$color-player5: #78961F;


.background-color-player-inactive {
  background-color: $color-player-inactive;
}

.background-color-player1 {
  background-color: $color-player1;
}

.background-color-player2 {
  background-color: $color-player2
}

.background-color-player3 {
  background-color: $color-player3;
}

.background-color-player4 {
  background-color: $color-player4;
}

.background-color-player5{
  background-color: $color-player5;
}
