<p>select-question works!</p>
<div *ngIf="!selectedCategorie">
  <button *ngFor="let categorie of quiz?.categories" (click)="selectedCategorie = categorie.id" class="btn btn-default">
    {{categorie.id}}
  </button>
</div>
<div *ngIf="selectedCategorie">
  <button (click)="selectedCategorie = undefined" class="btn btn-default">
    back
  </button>
  {{selectedCategorie}}
  <ng-container *ngFor="let question of quiz.questions">
    <button *ngIf="question.categorie === selectedCategorie && question.owner === null" (click)="select(selectedCategorie, question.value)" class="btn btn-default">
      {{question.value}}
    </button>
  </ng-container>
</div>