<p>select-question works!</p>
<div *ngFor="let questionRow of questionRows">
  <div *ngIf="!selectedCategory">
    <button (click)="selectedCategory = questionRow.category.id" class="btn btn-default">
      {{questionRow.category.displayName}}
    </button>
  </div>
  <div *ngIf="selectedCategory === questionRow.category.id">
    <button (click)="selectedCategory = undefined" class="btn btn-default">
      back
    </button><br>
    <ng-container *ngFor="let questionThumbnail of questionRow.questionThumbnails">
      <button *ngIf="!questionThumbnail.answerd" (click)="select(selectedCategory, questionThumbnail.value)" class="btn btn-default">
        {{questionThumbnail.value}}
      </button>
    </ng-container>
  </div>
</div>

