@import "tailwindcss/base";

@import "tailwindcss/components";

//@import "./styles/components.scss";

@import "tailwindcss/utilities";

//@import "./styles/utilities.scss";

@import "./app/shared/styles/shared.scss";

* {
    box-sizing: border-box;
  }
  
  html, body, #root {
   height: 100%;
   display: block;
   margin: 0;
   padding: 0;
  }